digitalocean_token = "d24dc2a28e73e07e0190ed8c93e31aecace7765545e9ed43db8c5ca16dad1283"

cluster_name = "gitops-do-master"
cluster_version = "1.21.5-do.0"
region = "ams3"

top_level_domain = "gitops.example.com"
